<!-- Ecommerce Sidebar Starts -->
<div class="row mt-1">
  <div class="col-sm-12">
    <h6 class="filter-heading d-none d-lg-block">Filters</h6>
  </div>
</div>
<div class="card">
  <div class="card-body">
        
    <!-- Categories Starts -->
    <div id="product-categories">
      <h6 class="filter-title">Categorias</h6>
      <ul class="list-unstyled categories-list">
        <li>
          <div class="custom-control custom-radio">
            <input type="radio" id="category1" name="category-filter" class="custom-control-input" checked />
            <label class="custom-control-label" for="category1">Computadores</label>
          </div>
        </li>
        <li>
          <div class="custom-control custom-radio">
            <input type="radio" id="category1" name="category-filter" class="custom-control-input" checked />
            <label class="custom-control-label" for="category1">Notebook</label>
          </div>
        </li>
        <li>
          <div class="custom-control custom-radio">
            <input type="radio" id="category1" name="category-filter" class="custom-control-input" checked />
            <label class="custom-control-label" for="category1">Acessorio</label>
          </div>
        </li>
        <li>
          <div class="custom-control custom-radio">
            <input type="radio" id="category1" name="category-filter" class="custom-control-input" checked />
            <label class="custom-control-label" for="category1">Celular</label>
          </div>
        </li>
        <li>
          <div class="custom-control custom-radio">
            <input type="radio" id="category1" name="category-filter" class="custom-control-input" checked />
            <label class="custom-control-label" for="category1">Tablet</label>
          </div>
        </li>
      </ul>
    </div>
    <!-- Categories Ends -->
       
    <!-- Clear Filters Starts -->
    <div id="clear-filters">
      <button type="button" class="btn btn-block btn-primary" rippleEffect>Clear All Filters</button>
    </div>
    <!-- Clear Filters Ends -->
  </div>
</div>
<!-- Ecommerce Sidebar Ends -->
